html {
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #f9f9fd;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2 {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
  max-width: 550px;
}

.container {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 0 18px 5px rgba(34, 60, 80, 0.2);
  overflow: hidden;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

  @media screen and (min-width: 1200px) {
    .container:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03);
    }
  }

  .container__header {
    padding: 30px 10px 20px;
    background-color: #dceefd;
    border-radius: 16px 16px 0 0;
  }

  .container__content {
    margin: 0 0 30px;
    padding: 0 10px;
  }

.title-h1 {
  padding: 0 13px;
}

.done {
  text-decoration: line-through;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-add {
  border-radius: 8px;
  width: 35px;
  height: 35px;
  transition: background-color 0.2s ease-in-out;
}

  .btn-add:hover {
    background-color: #c9c7c783;
  }

.btn-close:hover svg path {
  fill: #202020;
}

.text {
  padding: 0 13px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(232, 232, 237);
  border: 3px solid transparent;
  border-top: 1px solid rgb(232, 232, 237);
  cursor: pointer;
  padding: 10px;
  transition: 
    background-color 0.2s cubic-bezier(0.32, 0.08, 0.24, 1) 0s, 
    border-color 0.2s cubic-bezier(0.32, 0.08, 0.24, 1) 0s;
}

  .input:hover {
    border-top: 1px solid transparent;
    border-radius: 8px;
    background-color: rgb(196 196 196 / 30%);
  }

  .input:hover + .input {
    border-top: 1px solid transparent;
  }

.todo-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.input-add {
  flex: 1 1 0%;
  font-size: 16px;
  margin: 0 10px 0 0;
  cursor: pointer;
  border: 3px solid transparent;
  padding: 10px 5px;
  transition: 
    background-color 0.2s cubic-bezier(0.32, 0.08, 0.24, 1) 0s, 
    border-color 0.2s cubic-bezier(0.32, 0.08, 0.24, 1) 0s;
}

  .input-add:hover,
  .input-add:focus {
    border-radius: 8px;
    background-color: rgb(196 196 196 / 30%);
    outline: none;
  }

/* Loader */

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgba(34, 60, 80, 0.2);
    border-color: rgba(34, 60, 80, 0.2) transparent rgba(34, 60, 80, 0.2) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
